body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

h2 {
  color:green;
  font-family: verdana;
}
