body {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header p {
  padding: 0 20px;
  margin: 0;
  align-items: center;
}
.jumbotron {
  display: flex;
  align-items: left;
  background-image: url('qbauer82.github.io/City_Landscape_Background.jpg');
  background-size: cover;
  color: red;
  height: 1600px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}
